<% include ../partials/header %>

<h1 class="display-4 text-center">About Me</h1>
<div class="jumbotron" style="text-align: center; background-color: rgba(168, 152, 100, 0.76)">
    <p class="display-4 text-center"><%= fullname %></p>
    <img style="width:200px; border-radius:50%;" src="https://scontent.fbkk12-2.fna.fbcdn.net/v/t1.0-9/22528116_1491598987590104_4496390458115983238_n.jpg?_nc_cat=104&_nc_eui2=AeF2PWFfb83u_olLvLgBrAcNBg7sjAI1_GrGDhqB-Qv_L-ASB7u1F4X4OZ3HT4SmPm0OxLfgtVavEk006ygwmq76reI93G_aYKIV9KOSeRbzxw&_nc_ht=scontent.fbkk12-2.fna&oh=17ab1b7600434b33722e013be7d7cb2b&oe=5C421FE7" alt="">
    <p class="lead text-center">5930213023</p>
    <p class="lead text-center">Software Engineer</p>
    <hr class="my-2">
    <br>
    <p class="lead">
        Birthday: <%= bdate %><br>
        Hobbies 
        <% hobbies.forEach(function(hobby) { %>
            <li><%= hobby %>
        <% }); %>
    </p>
</div>

<% include ../partials/footer %>