<% include ../partials/header %>

<h1 class="display-4 text-center">About Me</h1>
<div class="jumbotron">
    <p class="display-4 text-center"><%= fullname %></p>
    <p class="lead text-center">Software Engineer</p>
    <hr class="my-2">
    <br>
    <p class="lead">
        Birthday: <%= bdate %><br>
        Hobbies: 
        <% hobbies.forEach(function(hobby) { %>
            <li><%= hobby %>
        <% }); %>
    </p>
</div>

<% include ../partials/footer %>