<% include ../partials/header %>


<div class="row">
    <div class="col-2">
        <a href="/products" class="h1 text-dark">&lt; Back</a>
    </div>
    <div class="col-10">
        <h1><%= report[0].title %> Report</h1> 
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>purchase id</th>
            <th>Quantity</th>
            <th>total price</th>
        </tr>
    </thead>
    <tbody id="myTable">
    <% report.forEach(function(report) { %>
        <tr>
            <td scope="row"><%= report.purchase_id %></td>
            <td><%= report.quantity %></td>
            <td><%= report.price*rep    ort.quantity %></td>
            
        </tr>
        <% }); %>
    </tbody>
</table>



<% include ../partials/footer %>