<% include ../partials/header %>
<br>
    <input class="form-control btn-warning bg-light mb-2 mr-sm-2" id="myInput" type="text" placeholder="Search..">
<br>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Users ID</th>
            <th>Email</th>
            <th>Password</th>
            <th></th>
            <th> <a class="btn btn-success" href="/insert_users" role="button">Add user</a></th>
        </tr>
    </thead>
    <tbody>
    <% users.forEach(function(user) { %>
        <tr>
            <td scope="row"><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.password %></td>
            <td>
                <a class="btn btn-info" href="/users/<%= user.id%>" role="button">Edit</a>
                </td>
               
                
        </tr>
        <% }); %>
    </tbody>
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>
</table>



<% include ../partials/footer %>